:root {
  --brand-white: #fff;
  --grayscale-100: #eef1f3;
  --grayscale-200: #d8dfe3;
  --grayscale-300: #a9b5bc;
  --grayscale-400: #94a1a8;
  --grayscale-500: #727e84;
  --grayscale-600: #54595b;
  --grayscale-700: #323539;
  --grayscale-800: #232629;
  --grayscale-900: #131517;
  --ui-warning: #e14b4d;
  --ui-caution: #ffab01;
  --ui-success: #28c28b;
  --ui-information: #3b84d8;
}

body {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100vw;
  width: 100%;
  min-width: 500px;
  height: auto;
  min-height: 100vh;
  background-color: var(--grayscale-100);
}
body > article {
  display: block;
  width: 100%;
  height: auto;
}